:root {
	/* --body-bg-color: #161920; */
	--body-bg-color: #282d33;
	--body-bg-color-dark: #1b1e22;
	/* --body-bg-color: #1f2328; */
	--body-color: #ddd;
	--primary-color: #9fc1ea;
	--muted-bg-color: #213145;
	--muted-color: #999;
	--border-color: #394960;
	--border-color2: #1f2733;
	--link-color: #00aff4;
	--link-color-hover: #0095ff;
	--icon-color: #c0d6f1;
	--size-sm: 576px;
	--size-md: 768px;
	--size-lg: 992px;
	--size-xl: 1200px;
	--size-xxl: 1450px;
	--size-xxxl: 1650px;
	--spacing: 1.25rem;
	--spacing-xs: 0.75rem;
	--spacing-xxs: 0.5rem;
	--header-color: #ffffff;
	--text-color: #daddeb;
}

.adv-wrapper {
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	/* font: 14px/20px Inter,fallback-inter,system-ui,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol; */
	color: var(--body-color);
	background-color: var(--body-bg-color);
	margin-left: auto;
	margin-right: auto;
	max-width: var(--size-xxxl);
	padding: var(--spacing) var(--spacing-xs);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.adv-nav-tabs {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	padding: 0;
	margin-top: 0;
	border: 1px solid var(--border-color);
	width: auto;
	justify-content: center;
	align-items: center;
	float: right;
}

.adv-nav-tabs-li {
	border: none;
	margin: 0;
	flex-grow: 0;
	display: flex;
	justify-content: center;
	border: 1px solid var(--body-bg-color);
}

.adv-nav-tabs-li:hover {
	cursor: pointer;
	background-color: var(--body-bg-color-dark);
	/* color: var(--body-color); */
	color: white;
}

.adv-nav-tabs-genre {
	/* display: grid;
	grid-template-columns: repeat(8, auto);
	list-style: none;
	padding: 0;
	margin-top: 0;
	border: 1px solid var(--border-color);
	align-items: center;
	width: auto; */

	display: flex;
	flex-wrap: wrap;
	list-style: none;
	padding: 0;
	margin-top: 0;
	margin-bottom: 0;
	border: 1px solid var(--border-color);
	width: auto;
	justify-content: center;
	align-items: center;
	float: right;
}

.genre-rows {
	display: flex;
	flex-direction: column;
}

.MuiSlider-colorPrimary	{
	color: var(--primary-color);
	/* color: #ddd; */
}

.MuiSlider-marked {
	background-color: var(--body-bg-color);
}

.MuiSlider-valueLabelOpen {
	background-color: var(--body-bg-color);
	color: var(--text-color);
}

.MuiSlider-markLabel {
	color: var(--text-color);
	font-size: 1.125rem;
}