.image-carousel {
	display: block;
	width: auto;
	height: 773px;
	margin-left: auto;
	margin-right: auto;
}

@media (max-width: 1200px) {
	.image-carousel {
		display: block;
		max-width: 50%;
		height: auto;
		margin-left: auto;
		margin-right: auto;
	}
}

.video {
	display: block;
	width: auto;
	height: 773px;
	margin-left: 50px;
	margin-right: auto;
}

.h2-game {
	margin-bottom: var(--spacing-xxs);
	color: var(--header-color);
}

@media (min-width: 1200px) {
	.h2-game {
		font-size: 1.75rem;
	}
}