:root {
	--card-bg: #202020;
	--card-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1),0 1px 2px 0 rgba(0, 0, 0, 0.06);
	--card-radius: 0.375rem;
	--card-color: #ffffffeb;
	--text-color: #ddd;
	--card-padding: 0.5rem 1.25rem 1.25rem 1.25rem;
	--font-bold: 700;
	--badge-color: #9ae6b4;
	--badge-bg: #9ae6b429;
	--release-color: #addfef;
	/* --release-color: #99c3e6; */
	--release-bg: #99c3e629;
	--likes-color: #e69ab4;
	--likes-bg: #e69ab429;
	--hover-color: #67c1f5;
	--bg-color-alt: #1b1e22;
	--input-color: #121212;
}

:where(*) {
	border-width: 0px;
    border-style: solid;
    box-sizing: border-box;
    overflow-wrap: break-word;
}
.ind-wrapper {
	border-radius: 10px;
	overflow: hidden;
	border-width: 0px;
	/* width: 264px; */
	/* width: 515px;
	height: 685px; */
	width: 450px;
	height: auto;
}
.card-game {
	display: flex;
    flex-direction: column;
    position: relative;
    min-width: 0px;
    overflow-wrap: break-word;
    background-color: var(--card-bg);
    box-shadow: var(--card-shadow);
    border-radius: var(--card-radius);
    color: var(--card-color);
    border-width: 0;
    border-color: var(--card-border-color);
}
.card-img {
	border-style: none;
	/* border: 1px solid black; */
	/* height: auto;
	max-width: 100%;
	min-width: 213px;
	min-height: 100px; */
	/* width: 264px;
	height: 352px; */
	width: inherit;
	/* height: 625px; */
	object-fit: contain;
	/* aspect-ratio: 16 / 9; */
	
}
.card-body {
	/* padding-left: 1.25rem;
	padding-right: 1.25rem;
	padding-bottom: 1.25rem;
	padding-top: 0.5rem; */
	padding: var(--card-padding);
	flex: 1 1 0%;
}
.card-stack {
	display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    flex-direction: row;
    gap: 0.5rem;
    /* margin-bottom: 0.25rem; */
}
.card-heading {
	font-family: 'Inter', sans-serif;
	font-size: 1.5rem;
	justify-content: space-between;
	display: block;
	font-weight: var(--font-bold);
	line-height: 1.33;
	margin-bottom: var(--spacing-xxs);
	color: var(--text-color);
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	margin-top: 0.5rem;
}

.card-heading:hover {
	color: var(--hover-color);
	cursor: pointer;
	text-decoration: none;
}

/* .heading-text {
	visibility: hidden;
	width: 100px;
	font-size: 0.75rem;
	background-color: var(--bg-color-alt);
	color: var(var(--text-color));
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	margin-left: 0rem;
	margin-top: -1rem;
	position: absolute;
	z-index: 1;
} */

/* .card-heading:hover .heading-text { */
	/* overflow: visible; */
	/* color: var(--hover-color);
	cursor: pointer;
	text-decoration: none; */
	/* visibility: visible; */
/* } */

.card-heart:hover .like-text {
	visibility: visible;
}
@media (min-width: 1200px) {
	.card-heading {
		font-family: 'Inter', sans-serif;
		font-size: 1.75rem;
		justify-content: space-between;
		display: block;
		font-weight: var(--font-bold);
		line-height: 1.33;
		margin-bottom: var(--spacing-xxs);
		color: var(--text-color);
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		margin-top: 0.5rem;
	}
}
.card-platforms {
	display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: row;
    gap: 0.5rem;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

.card-logo {
	/* padding-top: 0.125rem; */
	width: 1.875rem;
	height: 1.875rem;
	/* border: 0.5px solid #ddd; */
	border-radius: 10% / 50%;
}

.card-platformlogo {
	/* padding-top: 0.125rem; */
	width: 1.875rem;
	height: 1.875rem;
	border: 2px solid #87ceeb;
	/* border: 2px solid #92e2e1; */
	border-radius: 10% / 50%;
}

.card-rating {
	display: inline-block;
    white-space: nowrap;
    vertical-align: middle;
    padding-inline-start: 0.5rem;
    padding-inline-end: 0.5rem;
    text-transform: uppercase;
	font-weight: var(--font-bold);
	color: var(--badge-color);
    background: var(--badge-bg);
    box-shadow: var(--badge-shadow);
    font-size: 0.875rem;
    border-radius: 4px;
}

.card-year {
	display: inline-block;
    white-space: nowrap;
    vertical-align: middle;
    padding-inline-start: 0.5rem;
    padding-inline-end: 0.5rem;
    text-transform: uppercase;
	font-weight: var(--font-bold);
	color: var(--release-color);
    background: var(--release-bg);
    box-shadow: var(--badge-shadow);
    font-size: 0.875rem;
    border-radius: 4px;
}

.card-likes {
	display: inline-block;
    white-space: nowrap;
    vertical-align: middle;
    padding-inline-start: 0.5rem;
    padding-inline-end: 0.5rem;
    text-transform: uppercase;
	font-weight: var(--font-bold);
	color: var(--likes-color);
    background: var(--likes-bg);
    box-shadow: var(--badge-shadow);
    font-size: 0.875rem;
    border-radius: 4px;
}

.card-likesstack {
	/* display: flex; */
	/* text-align: end; */
	/* float: left; */
    /* -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify; */
    /* justify-content: space-between; */
    /* flex-direction: row; */
    /* gap: 0.5rem; */
	/* margin-bottom: 1rem; */
	display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    flex-direction: row;
    gap: 0.5rem;
    /* margin-bottom: 0.25rem; */
}

.card-heart {
	display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: row;
    gap: 0.5rem;
    margin-top: -0.25rem;
    margin-bottom: 0.25rem;
}

.card-heart:hover .like-text {
	visibility: visible;
}


.like-text {
	visibility: hidden;
	width: 90px;
	font-size: 0.75rem;
	background-color: var(--bg-color-alt);
	color: var(var(--text-color));
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	margin-left: 2.1875rem;
	position: absolute;
	z-index: 1;
}

.tag-link {
	display: inline-block;
    cursor: pointer;
	color: var(--text-color);
    /* background: #273b4b; */
	/* background: var(--input-color); */
	background: #383838;
    padding: 0 10px;
    font-size: 15px;
    line-height: 30px;
    border-radius: 6px;
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
	margin-top: 0rem;
	margin-bottom: 0.125rem;
}

.tag-link-company {
	display: inline-block;
    cursor: pointer;
	color: var(--text-color);
    /* background: #273b4b; */
	/* background: var(--input-color); */
	background: #383838;
    padding: 0 10px;
    font-size: 15px;
    line-height: 30px;
    border-radius: 6px;
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
	margin-top: 0rem;
	margin-bottom: 0.125rem;
	text-decoration: none;
}
.tag-link:hover {
	color: var(--hover-color);
	background: #273b4b;
}

.tag-link-company:hover {
	color: var(--hover-color);
	background: #273b4b;
}

.card-companies {
	display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: row;
    gap: 0.5rem;
    margin-top: 0.25rem;
    margin-bottom: -0.75rem;
	justify-content: center;
}

.tags:hover .tag-text {
	visibility: visible;
}

.tag-text {
	visibility: hidden;
	width: 100px;
	font-size: 0.75rem;
	background-color: var(--bg-color-alt);
	color: var(var(--text-color));
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	margin-left: -0.5rem;
	margin-top: -2rem;
	position: absolute;
	z-index: 1;
}

.title-nostyle {
	text-decoration: none;
}