.grid-wrapper {
	grid-template-columns: repeat(7, minmax(450px, 1fr));
	/* grid-auto-flow: column; */
	display: grid;
	grid-gap: 1.5rem;
	padding: 10px;
}

.filter-wrap {
    /* padding-bottom: 25px;
    padding-top: 20px; */
    /* text-align: center;
    display: flex;
	box-sizing: border-box; */
	display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    flex-direction: row;
    gap: 0.5rem;
	margin-top: -15px;
	/* margin-left: 15px; */
}

.drop-wrap {
	text-align: center;
    display: flex;
	box-sizing: border-box;
	/* margin-left: -10rem; */
	margin-left: -15rem;
	/* display: flex;
	justify-content: center;
	align-items: center;
	text-align: center; */
}

.button-wrap {
	text-align: center;
    display: flex;
	box-sizing: border-box;
	/* height: inherit; */
}

.ascdesc-wrap {
	float: right;
	margin-left: 2.5%;
}

.inline {
	display: inline-block;
}

.inline-dir {
	display: block;
}

.auto-comp {
    display: flex;
    margin-left: auto;
	margin-right: 1.25rem;
	margin-top: 0.5rem;
}

.load-wrapper {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-top: 10%;
}

@media (max-width: 3200px) and (min-width: 2750px) {
	.grid-wrapper {
		grid-template-columns: repeat(6, minmax(450px, 1fr));
	}
}

@media (max-width: 2750px) and (min-width: 2250px) {
	.grid-wrapper {
		grid-template-columns: repeat(5, minmax(450px, 1fr));
	}
}

@media (max-width: 2250px) and (min-width: 1800px) {
	.grid-wrapper {
		grid-template-columns: repeat(4, minmax(450px, 1fr));
	}
}
@media (max-width: 1800px) and (min-width: 1300px) {
	.grid-wrapper {
		grid-template-columns: repeat(3, minmax(450px, 1fr));
	}
}

@media (max-width: 1800px) and (min-width: 1300px) {
	.grid-wrapper {
		grid-template-columns: repeat(3, minmax(450px, 1fr));
	}
}

@media (max-width: 1300px) and (min-width: 900px) {
	.grid-wrapper {
		grid-template-columns: repeat(2, minmax(450px, 1fr));
	}
	.drop-wrap {
		margin-left: 0rem;
	}
}

@media (max-width: 895px) {
	.grid-wrapper {
		grid-template-columns: auto;
	}
	.drop-wrap {
		margin-left: 0rem;
		display: inline-block;
	}
	.button-wrap {
		display: inline-block;
	}
}

.MuiOutlinedInput-notchedOutline {
	border-style: none !important;
}

.MuiInputLabel-root {
	color: var(--text-color) !important;
}

.Mui-focused {
	color: var(--text-color) !important;
}

/* fieldset.css-9425fu-MuiOutlinedInput-notchedOutline {
	border-style: none;
}

/*label.css-17y3sg2-MuiFormLabel-root-MuiInputLabel-root {
	color: var(--text-color);
}*/

/* label.css-17y3sg2-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
	color: var(--text-color);
} */