:root {
	--text-color: #ddd;
	--primary-color: #9fc1ea;
}

.header-profile-wrapper {
	margin-top: -30px;
	height: 275px;
}

.bg-wrapper {
	position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    height: 387px;
    width: 100%;
    overflow: hidden;
}

.bg-intro {
	position: absolute;
    width: 100%;
    height: 100%;
    background: -o-linear-gradient(240deg, #222222 15%, #373737 70%, #3c4859 94%);
    /* background: linear-gradient(-150deg, #222222 15%, #373737 70%, #3c4859 94%); */
	background: linear-gradient(90deg, rgba(39,38,43,1) 0%, rgba(66,66,66,1) 35%, rgba(45,56,59,1) 100%);
}

.load-wrapper {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-top: 10%;
}

.intro-container {
	display: flex;
	padding-top: 65px;
	align-items: center;
	justify-content: center;
}

.intro-avatar {
	flex: 0 0 11.25%;
	text-align: center;
	position: relative;
}

.intro-img {
	cursor: pointer;
	height: 140px;
	width: 140px;
	border: 5px solid var(--text-color);
	border-radius: 15px;
	vertical-align: middle;
}

.intro-name {
	overflow: hidden;
    margin-left: 20px;
    margin-right: 20px;
}

.name-container {
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    flex: 0 0 auto;
    justify-content: center;
    max-width: 100%;
}

.name-container span {
	color: var(--text-color);
    font-size: 24px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
	font-weight: 700;
}

.id-container {
    display: flex;
	flex-direction: column;
    align-items: center;
    flex: 0 0 auto;
    justify-content: center;
    max-width: 100%;
	line-height: 1.5;
}

.id-container span {
	color: var(--primary-color);
	font-size: 12px;
	font-weight: 200;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.account-details-wrapper {
	/* margin-left: 500px; */
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	/* margin-right: auto; */
	margin-top: 50px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	height: auto;
}

.account-table-wrapper {
	margin-top: 0px;
	display: flex;
	flex-direction: row;
	align-items: start;
	justify-content: center;
	width: 700px;
	background-color: #1b1e22;
	border-radius: 15px;
	border: 1px solid white;
	padding: 10px;
}

.game-preferences-table-wrapper {
	/* margin-top: -30px; */
	margin-top: 0px;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: center;
	width: 1050px;
	background-color: #1b1e22;
	border-radius: 15px;
	border: 1px solid white;
	padding: 10px;
}

.adv-nav-tabs-table {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	padding: 0;
	margin-top: 0;
	border: 1px solid var(--border-color);
	width: auto;
	justify-content: center;
	align-items: center;
	float: right;
	margin-block-end: 0;
	margin-block-start: 0;
}

.adv-nav-tabs-li {
	border: none;
	margin: 0;
	flex-grow: 0;
	display: flex;
	justify-content: center;
	/* position: inherit; */
	/* border: 1px solid var(--body-bg-color); */
}

.adv-nav-tabs-li:hover {
	cursor: pointer;
	background-color: var(--body-bg-color-dark);
	/* color: var(--body-color); */
	color: white;
}

.adv-nav-tabs-li-active {
	background-color: var(--body-bg-color-dark);
	color: white;
	border: none;
	margin: 0;
	flex-grow: 0;
	display: flex;
	justify-content: center;
}

.adv-nav-tabs-grid {
	display: grid;
	grid-template-columns: repeat(8, auto);
	list-style: none;
	padding: 0;
	margin-top: 0;
	border: 1px solid var(--border-color);
	align-items: center;
	width: auto;
	/* border: 1px solid var(--body-bg-color); */
}

.table-heading-flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid white;
	padding-bottom: 5px;
}

.btn-save-cancel-wrap {
	display: flex;
	flex-direction: row;
	gap: 1rem;
}

.MuiButton-root.Mui-disabled {
	color: var(--primary-color);
	cursor: crosshair;
	pointer-events: all !important;
}

.active-btn-disabled .MuiButton-root.Mui-disabled {
	color: #ddd !important;
}

/* .error-textfield-wrap {
	display: flex;
	flex-direction: row;
	gap: 0.5rem;
	justify-content: flex-end;
}

.error-textfield-wrap p {
	font-size: 0.8rem;
	overflow: hidden;
	justify-content: center;
} */

.error-credentials {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 10px;
	flex-wrap: nowrap;
}

.error-credentials span {
	background: #FF9494;
	font-weight: 700;
	font-size: 16px;
	border-radius: 4px;
	max-width: 400px;
	line-height: 19.2px;
	/* height: 25px; */
	text-align: center;
	vertical-align: center;
	padding: 5px;
}