.title-recommend {
	justify-content: space-between;
	display: flex;
	align-items: center;
	justify-content: center;
}

h3 {
	margin-bottom: 0!important;
	color: #daddeb;
	font-size: 1.75rem;
}

h2 {
	margin-bottom: var(--spacing-xxs);
	color: var(--header-color);
}

.filter-recommend-wrap {
	display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: row;
}

.load-wrapper {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-top: 10%;
}



@media (min-width: 1200px) {
	h2 {
		font-size: 1.75rem;
	}
}