:root {
	--nav-bg: #1f2328;
	--hover-bg: #282d33;
	--text-color: #ddd;
	--spacing: 1rem;
    --spacing-sm: .75rem;
    --spacing-xs: .5rem;
    --spacing-xxs: .25rem;
    --spacing-1: .1rem;
    --spacing-btn: .5rem;
    --spacing-btn-sm: .4rem;
    --spacing-btn-xs: .25rem;
	--size-sm: 576px;
    --size-md: 768px;
    --size-lg: 992px;
    --size-xl: 1200px;
    --size-xxl: 1400px;
	--link-color: #daddeb;
	--primary-color: #9fc1ea;
	--hover-color: #ddd;
}

.search-container {
	width: 100%;
	min-width: 100vh;
	padding: 10px;
}

.search-wrap {
	flex: 0 1 auto;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	/* padding-top: 0.625rem; */
}

.search-bar {
	width: 100%;
	max-width: 700px;
	background: rgba(255, 255, 255, 0.18);
	/* background-color: #1f2328; */
	display: flex;
	align-items: center;
	border-radius: 60px;
	padding: 0rem 0.5rem;
	/* height: 64px; */
}

.search-bar-input {
	background: transparent;
	text-align: center;
	flex: 1;
	border: 0;
	outline: none;
	padding: 1rem 0.75rem;
	font-size: 20px;
	color: #d6ecff;
	/* background-color: #1f2328; */
}

.logo-img {
	aspect-ratio: 500 / 359;
	/* margin-left: 0; */
	flex: 0 1 auto;
	margin-right: auto;
	padding-left: 0.5rem;
}

.nav-wrapper {
	background: var(--nav-bg);
	color: var(--text-color);
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: row;
	vertical-align: top;
	align-items: center;
	justify-content: space-between;
	font-weight: 700;
	font-size: 1.25rem;
}

.explore {
	font-weight: 400;
	font-size: 35px;
	flex: 0 1 auto;
}

::placeholder {
	color: #d6ecff;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: #d6ecff;
  }

  nav {
	padding: 0 var(--spacing-xs) 0 var(--spacing-xs);
	margin-left: auto;
	margin-right: auto;
	max-width: var(--size-xxl);
  }

  .nav-menu {
	display: flex;
	flex-direction: row;
	list-style: none;
	align-items: center;
	margin-top: 0;
	padding: 0;
  }

  .nav-menu li {
	position: relative;
  }

  .nav-logo {
	padding-top: var(--spacing-xxs);
	padding-bottom: var(--spacing-xxs);
	padding-left: 0!important;
	padding-right: var(--spacing);
  }

  .nav-img {
	aspect-ratio: auto 500 / 359;
	height: 65px;
  }

  .nav-search {
	width: 416px;
  }

  .nav-links {
	margin-left: 7.5%;
  }

  .link-grp {
	display: flex;
	list-style: none;
	padding: 0;
	/* height: 100%; */
	height: 75px;
	justify-content: space-between;
  }

  .nav-link {
	padding: var(--spacing-xxs) var(--spacing-xs);
	position: relative;
	border: 1px solid var(--nav-bg);
  }

  .link-text {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	cursor: pointer;
	font-weight: 700;
	line-height: 22.5px;
	letter-spacing: 0em;
	text-transform: none;
	font-family: 'Roboto','Helvetica','Arial',sans-serif;
	font-size: 20px;
  }

.link-a  {
	text-decoration: none;
	color: var(--primary-color);
  } 

  .nav-link:hover {
	background-color: var(--hover-bg);
	border-bottom: 1px solid var(--text-color);
	cursor: pointer;
	.link-a {
		color: var(--hover-color);
	}
  }

  header {
	margin: 0;
	background-color: var(--nav-bg);
	/* display: flex; */
  }

  .nav-profile {
	margin-left: auto;
	display: flex;
	list-style: none;
	padding: 0;
	height: 75px;
  }

  .link-a-icon {
	text-decoration: none;
	color: var(--primary-color);
	display: flex;
  }

  .css-b1zumk-MuiButtonBase-root-MuiIconButton-root {
	padding: 0;
  }

  .link-icon-text {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	cursor: pointer;
	font-weight: 700;
	line-height: 22.5px;
	letter-spacing: 0em;
	text-transform: none;
	font-family: 'Roboto','Helvetica','Arial',sans-serif;
	font-size: 20px;
  }

  .link-icon-text:hover {
	background-color: var(--hover-bg);
	border-bottom: 1px solid var(--text-color);
	cursor: pointer;
	.link-a-icon {
		color: var(--hover-color);
	}
  }

  .user-auth {
	margin-left: auto;
  }