.search-suggest {
	/* position: fixed; */
	position: absolute;
    align-items: center;
    width: 634px;
    height: auto;
	margin-left: 20%;
	margin-top: -23px;
    z-index:99;
	display: flex;
	vertical-align: top;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
