:root {
	--card-bg: #202020;
	--card-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1),0 1px 2px 0 rgba(0, 0, 0, 0.06);
	--card-radius: 0.375rem;
	--card-color: #ffffffeb;
	--header-color: #ffffff;
	--card-padding: 1.25rem;
	--font-bold: 700;
	--badge-color: #9ae6b4;
	--badge-bg: #9ae6b429;
}

:where(*) {
	border-width: 0px;
    border-style: solid;
    box-sizing: border-box;
    overflow-wrap: break-word;
}
.ind-wrapper {
	border-radius: 10px;
	overflow: hidden;
	border-width: 0px;
	width: 264px;
	height: 685px;
}
.card-game {
	display: flex;
    flex-direction: column;
    position: relative;
    min-width: 0px;
    overflow-wrap: break-word;
    background-color: var(--card-bg);
    box-shadow: var(--card-shadow);
    border-radius: var(--card-radius);
    color: var(--card-color);
    border-width: 0;
    border-color: var(--card-border-color);
}
.card-img {
	border-style: none;
	/* height: auto;
	max-width: 100%;
	min-width: 213px;
	min-height: 100px; */
	width: 264px;
	height: 352px;
	object-fit: contain;
	
}
.card-body {
	padding: var(--card-padding);
	flex: 1 1 0%;
}
.card-stack {
	display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    flex-direction: row;
    gap: 0.5rem;
    margin-bottom: 0.75rem;
}
.card-heading {
	font-family: 'Inter', sans-serif;
	font-size: 1.75rem;
	justify-content: space-between;
	display: flex;
	font-weight: var(--font-bold);
	line-height: 1.33;
	margin-bottom: var(--spacing-xxs);
	color: var(--header-color);
}
@media (min-width: 1200px) {
	h2 {
		font-size: 1.75rem;
	}
}
.card-platforms {
	display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: row;
    gap: 0.5rem;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

.card-logo {
	/* padding-top: 0.125rem; */
	width: 25px;
	height: 25px;
}

.card-rating {
	display: inline-block;
    white-space: nowrap;
    vertical-align: middle;
    padding-inline-start: 0.5rem;
    padding-inline-end: 0.5rem;
    text-transform: uppercase;
	font-weight: var(--font-bold);
	color: var(--badge-color);
    background: var(--badge-bg);
    box-shadow: var(--badge-shadow);
    font-size: 0.875rem;
    border-radius: 4px;
}