.grid-wrapper {
	grid-template-columns: repeat(7, minmax(450px, 1fr));
	/* grid-auto-flow: column; */
	display: grid;
	grid-gap: 1.5rem;
	padding: 10px;
}

.filter-wrap {
    /* padding-bottom: 25px;
    padding-top: 20px; */
    text-align: center;
    display: flex;
	box-sizing: border-box;
}

.auto-comp {
    display: flex;
    margin-left: auto;
	margin-right: 1.25rem;
	margin-top: 0.5rem;
	
}

@media (max-width: 3200px) and (min-width: 2750px) {
	.grid-wrapper {
		grid-template-columns: repeat(6, minmax(450px, 1fr));
	}
}

@media (max-width: 2750px) and (min-width: 2250px) {
	.grid-wrapper {
		grid-template-columns: repeat(5, minmax(450px, 1fr));
	}
}

@media (max-width: 2250px) and (min-width: 1800px) {
	.grid-wrapper {
		grid-template-columns: repeat(4, minmax(450px, 1fr));
	}
}
@media (max-width: 1800px) and (min-width: 1300px) {
	.grid-wrapper {
		grid-template-columns: repeat(3, minmax(450px, 1fr));
	}
}

@media (max-width: 1800px) and (min-width: 1300px) {
	.grid-wrapper {
		grid-template-columns: repeat(3, minmax(450px, 1fr));
	}
}

@media (max-width: 1300px) and (min-width: 900px) {
	.grid-wrapper {
		grid-template-columns: repeat(2, minmax(450px, 1fr));
	}
}

@media (max-width: 895px) {
	.grid-wrapper {
		grid-template-columns: auto;
	}
}