:root {
	--card-bg: #202020;
	--card-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1),0 1px 2px 0 rgba(0, 0, 0, 0.06);
	--card-radius: 0.375rem;
	--card-color: #ffffffeb;
	--header-color: #ddd;
	--card-padding: 0.5rem 1.25rem 1.25rem 1.25rem;
	--font-bold: 700;
	--badge-color: #9ae6b4;
	--badge-bg: #9ae6b429;
	--release-color: #addfef;
	/* --release-color: #99c3e6; */
	--release-bg: #99c3e629;
	--likes-color: #e69ab4;
	--likes-bg: #e69ab429;
	--hover-color: #0095ff;
	--icon-color: #c0d6f1;
	--link-color: #9fc1ea;
}

.column-heading {
	font-family: 'Inter', sans-serif;
	font-size: 1.25rem;
	justify-content: space-between;
	display: block;
	font-weight: var(--font-bold);
	line-height: 1.33;
	margin-bottom: var(--spacing-xxs);
	color: var(--header-color);
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	margin-top: 0rem;
}

.title-link {
	font-family: 'Inter', sans-serif;
	font-size: 1rem;
	justify-content: space-between;
	display: block;
	font-weight: var(--font-bold);
	line-height: 1.33;
	margin-bottom: var(--spacing-xxs);
	color: var(--link-color);
	overflow: hidden;
	text-align: left;
	padding-left: 0.75rem;
	white-space: nowrap;
	text-overflow: ellipsis;
	margin-top: 0rem;
}

.title-link:hover {
	color: var(--hover-color);
	cursor: pointer;
	text-decoration: none;
}

.table-text {
	font-family: 'Inter', sans-serif;
	font-size: 1rem;
	justify-content: space-between;
	display: block;
	font-weight: var(--font-bold);
	line-height: 1.33;
	margin-bottom: var(--spacing-xxs);
	color: var(--header-color);
	overflow: hidden;
	text-align: center;
	padding-left: 0.75rem;
	white-space: nowrap;
	text-overflow: ellipsis;
	margin-top: 0rem;
}

.avg-rating {
	font-size: 1.2rem;
	font-weight: bold;
}

.max-rating {
	font-size: 0.9rem;
	opacity: 0.75;
}

.num-rating {
	font-size: 0.95rem;
	font-weight: bold;
}

.column-heart {
	display: inline-block;
	-webkit-box-align: center;
	align-items: center;
	text-align: center;
	margin-bottom: -50px;
}

.marginTable {
	margin-top: 0.5rem;
}

.genres-wrap {
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	flex-direction: row;
	gap: 0.5rem;
	justify-content: center;
}

.companies-wrap {
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	flex-direction: row;
	gap: 0.5rem;
	justify-content: center;
}

.tag-link-company {
	display: inline-block;
    cursor: pointer;
	color: var(--text-color);
    /* background: #273b4b; */
	/* background: var(--input-color); */
	background: #383838;
    padding: 0 10px;
    font-size: 15px;
    line-height: 30px;
    border-radius: 6px;
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
	margin-top: 0rem;
	margin-bottom: 0.125rem;
	text-decoration: none;
	vertical-align: center;
}
.tag-link-company:hover {
	color: var(--hover-color);
	background: #273b4b;
}

.companylogo {
	width: 1.875rem;
	height: 1.875rem;
	border: 2px solid #87ceeb;
	border-radius: 10% / 50%;
	margin-top: 0.625rem;
	margin-right: 0.5rem;
}

.tag-company {
	display: flex;
    cursor: pointer;
	color: var(--text-color);
    /* background: #273b4b; */
	/* background: var(--input-color); */
	background: #383838;
    padding: 0 10px;
    font-size: 15px;
    border-radius: 6px;
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
	margin-top: 0rem;
	margin-bottom: 0.125rem;
	text-decoration: none;
	vertical-align: center;
}
.tag-company:hover {
	color: var(--hover-color);
	background: #273b4b;
}